.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #15484c;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s linear;
    &:hover {
        color: #F08663;
    }
}
