.navbar {
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 60px;
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    max-width: 1024px;
    min-width: 650px;
    height: 100%;
    width: 70%;
  }
  &__list > * {
    flex: 20% 1 1;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #15484c;
    font-weight: bold;
    cursor: pointer;
  }

}





